*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}#title{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 30px;
}
ul{
  margin-bottom: 10px;
}#btn{
    padding: 7px 11px;
    border: none;
    background-color: #555;
    border-radius: 20px;
    color: wheat;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}#btn:hover{
    background-color: rgb(57, 56, 56);
}